main {
  background-color: #f4f4f4;
  margin          : 0;
  padding         : 50px;
}

.profile {
  display    : flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.profile-image {
  position     : relative;
  display      : inline-block;
  margin-bottom: 20px;
  width        : 100%;
}

.profile-image::after {
  content   : 'Cập nhật ảnh đại diện';
  position  : absolute;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%, -50%);
  opacity   : 0;
  transition: opacity 0.3s ease;
  color     : white;
  cursor    : pointer;
}

.profile-image:hover::after {
  opacity: 1;
}

.profile-picture img {
  border-radius: 50%;
  width        : 150px;
  height       : 150px;
  object-fit   : cover;
  margin-right : 20px;
  margin-left  : 50px;
}


.profile-info {
  color: #333;
}

.name {
  font-size    : 24px;
  margin-bottom: 5px;
}

.location,
.occupation {
  font-size    : 16px;
  margin-bottom: 10px;
}

.bio {
  font-size    : 14px;
  margin-bottom: 15px;
}

.social-links {
  list-style: none;
  padding   : 0;
  display   : flex;
}

.social-links li {
  margin-right: 10px;
}

.social-link {
  text-decoration: none;
  color          : black;
  border         : 1px solid #ccc;
  border-radius  : 4px;
  padding        : 5px 10px;
  transition     : all 0.3s ease;
}

.social-link:hover {
  background-color: #007bff;
  color           : #fff;
}

.input-section {
  margin-top: 30px;
}

.input-section h2 {
  font-size    : 20px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display      : block;
  margin-bottom: 5px;
}

input[type="text"] {
  width        : 100%;
  padding      : 8px;
  font-size    : 14px;
  border-radius: 4px;
  border       : 1px solid #ccc;
}

input[type="date"] {
  width        : 12%;
  padding      : 8px;
  font-size    : 14px;
  border-radius: 4px;
  border       : 1px solid #ccc;
  cursor: pointer;
}

.btn-update {
  padding      : 8px 20px;
  font-size    : 14px;
  border-radius: 4px;
  border       : 1px solid #ccc;
  cursor       : pointer;
  transition   : background-color 0.3s ease;
  width: 132px;
}

.btn-update:hover {
  border: 1px solid #03a63c;
}

.user-us {
  margin-top: 15px;
}

.user-us-container {
  display: flex;
}

.user-us-cmt {
  display      : flex;
  align-items  : center;
  border       : 1px solid #ccc;
  margin-right : 10px;
  padding      : 2px;
  border-radius: 4px;
  cursor       : pointer;
  width: 132px;
  height: 40px;
  
}

.user-us-cmt img {
  height      : 25px;
  width       : 25px;
  margin-left: 10px;
}

.user-us-cmt:hover {
  border: 1px solid #03a63c;
}

.user-us-show {
  margin-top: 10px;
  width     : 100%;
}