.product-name {
  font-size: 24px;
  font-weight: bold;
}

.product-category {
  font-size: 16px;
}

.product-subcategory {
  font-size: 16px;
}

.product-info {
  list-style-type: none;
  padding-left: 0;
}

.product-info li {
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
}

.product-ratings {
  font-size: 18px;
}

.rating {
  font-size: 16px;
}

.product-specifications {
  font-size: 18px;
}

.product-specs {
  list-style-type: none;
  padding-left: 0;
}

.product-specs li {
  margin-bottom: 10px;
}

.product-supplier {
  font-size: 18px;
}

.supplier-name {
  font-size: 16px;
}