<!DOCTYPE html>
<html>

<head>
  <title>Sản phẩm</title>
  <!-- <link rel="stylesheet" href="Trang quản trị.css"> -->

  <link rel="stylesheet" href="/Trang quản trị/Quản trị/Product/Product.css">
  <script src="/Angular JS/angular-1.8.2/angular.js"></script>
  <script src="/Trang quản trị/Quản trị/Product/Product.js"></script>

</head>

<body ng-app="product">
  <div class="customer-container" ng-controller="productController" >
    <div >     
      <div class="form-group">
        <input type="text" ng-model="productId" required>
        <label>Mã sản phẩm</label>
      </div>
      <div class="form-group">
        <input type="text" ng-model="productName" required>
        <label>Tên sản phẩm</label>
      </div>
      <div class="form-group">
        <a class="form-group-productDescription">Mô tả</a>
        <textarea id="productDescription" ng-model="productDescription" required></textarea>
      </div>
      <div class="form-group">
        <input type="text" ng-model="productQuantity" required>
        <label>Số lượng</label>
      </div>
      <div class="form-group">
        <input type="text" ng-model="productPrice" required>
        <label>Đơn giá</label>
      </div>
    </div>

    <div class="selectTL" >
      <div>
        <select ng-model="selectedCategory" ng-options="category.tenLoai for category in categories">
          <option value="">Chọn thể loại</option>
        </select>
      </div>

      <div class="img-group">
        <div class="form-group">
          <input type="file" id="imageFile" accept="image/*"
            onchange="angular.element(this).scope().setImageFile(event)">
        </div>

        <button ng-click="imgProduct()">Tải ảnh lên </button>
      </div>

      <div class="button-TSXR">
        <div class="button-TSXR-post" ng-click="createProduct()">Thêm </div>
        <div class="button-TSXR-put" ng-click="updateProduct()">Sửa </div>
      </div>
    </div>

    <div >
      <table class="table-product" >
        <thead>
          <tr>
            <th>Ảnh sản phẩm </th>
            <th>Tên sản phẩm</th>
            <th>Mô tả</th>
            <th>Số lượng </th>
            <th>Đơn giá </th>
            <th>Mã thể loại </th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in productList">
            <td><img ng-src="data:image/jpeg;base64,{{ product.img }}" /></td>
            <td>{{product.tenSP}}</td>
            <td>{{product.mota}}</td>
            <td>{{product.soLuong}}</td>
            <td>{{product.dongia}}</td>
            <td>{{product.maTL}}</td>
            <td>
              <button ng-click="selectItem(product)">Chọn</button>
              <button ng-click="confirmDelete(product.maSP)">Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="button-listproduct">
        <button class="button-prev" ng-click="buttonPrev()"> &#60; </button>
        <button class="button-next" ng-click="buttonNext()"> &#62; </button>
      </div>
    </div>
    

  </div>
</body>

</html>