<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>Giỏ hàng</title>
  <link rel="stylesheet" href="/Trang giỏ hàng/Giỏ hàng.css">
  <link rel="stylesheet" href="/Trang chủ/TrangChu.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400&display=swap" rel="stylesheet">

  <link rel="icon" type="image/x-icon"
    href="/Lập trình Web Bách Hóa Xanh/HTML/Trang chủ/Anh/Icon/Icon-Bach-Hoa-Xanh.png">

  <link rel="icon" type="image/x-icon" href="/Trang chủ/Anh/Icon/Icon-Bach-Hoa-Xanh.png">

  <script src="/Angular JS/angular-1.8.2/angular.js"></script>
  <script src="/Trang giỏ hàng/GIỏ hàng.js"></script>
</head>

<body>
  <header>
    <nav>
      <div class="menuHead">
        <div class="logo" ng-controller="home">
          <a ng-click="viewHome()">Bách hóa xanh</a>
        </div>
        <div class="search-text">
          <input type="search" name="Tìm kiếm" placeholder="Tìm kiếm của bạn ..." />
          <img class="icon-search" src="/Trang chủ/Anh/header/search-interface-symbol.png" />
        </div>
        <ul>
          <li>
            <img src="/Trang chủ/Anh/header/home.png" />
            <!-- <a class="txtTT">Trang chủ</a> -->
          </li>
          <li>
            <img src="/Trang chủ/Anh/header/category.png" />
            <!-- <a class="txtDM">Danh mục</a> -->
          </li>
          <li>
            <img src="/Trang chủ/Anh/header/user.png" />
            <!-- <a class="txtDN">Đăng nhập</a> -->
          </li>
          <li>
            <img src="/Trang chủ/Anh/header/bell.png" />
            <!-- <a class="txtTB">Thông báo</a> -->
          </li>
          <li>
            <img src="/Trang chủ/Anh/header/shopping-cart.png" />
            <!-- <a class="txtGH">Giỏ hàng</a> -->
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main ng-controller="CartController">
    <div class="cart">
      <div class="cart-container-txt">
        <h1>Giỏ hàng</h1>
        <div class="div-line2"></div>
      </div>
      <div class="cart-container">
        <div class="cart-container-info">
          <!--  -->
          <div class="cart-container-product" ng-repeat="cartItem in cartItems">
            <div class="cart-container-product-checkbox">
              <input type="checkbox" ng-model="cartItem.selected" ng-change="updateTotalAmount()">

            </div>

            <div class="cart-container-product-img">
              <img ng-src="data:image/jpeg;base64, {{ cartItem.productImg }} " />
            </div>
            <div class="cart-container-product-info">
              <p>{{ cartItem.productName }}</p>
              <div class="cart-container-product-info-container">
                <div class="sales-txt">
                  <p style="text-decoration-line: line-through; color: black;" id="product-price">
                    280.000đ
                  </p>
                  <p id="product-sales">
                    {{ cartItem.dongia }}
                  </p>
                </div>

                <div class="CTSP-SL-numbers">
                  <button class="btGiam" ng-click="decrease(cartItem)">-</button>
                  <a class="ipNumbers">{{ cartItem.quantity || 0 }}</a>
                  <button class="btTang" ng-click="increase(cartItem)">+</button>
                </div>

              </div>

              <div class="cart-container-product-info-bt">
                <button ng-click="confirmDelete(cartItem.maGiohang)">
                  Xóa sản phẩm
                </button>
                <a>
                  Sản phẩm tương tự &#62; &#62;
                </a>
              </div>
            </div>
          </div>

          <div class="div-line2"></div>
          
        </div>

        <div class="cart-container-price" ng-controller="PaymentController">
          <div class="cart-price">
            <h1>Thanh toán</h1>
            <div class="div-line2"></div>
            <div class="cart-price-tt">
              <a>Tổng tiền hàng</a>
              <p>{{ calculateTotalAmount() }}</p>
            </div>
            <div class="cart-price-vc">
              <a>Phí vận chuyển</a>
              <p>50000</p>
            </div>
            <div class="cart-price-tong">
              <a>Tổng thanh toán</a>
              <p>{{ calculateTotalPayment() }}</p>
            </div>
            <button class="cart-price-bt" id="imgThanhtoan" ng-click="createBillFromCart()">
              Đặt hàng
            </button>
          </div>
        </div>

      </div>

    </div>
  </main>
</body>

</html>