body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container-txt{
  text-align: center;
  margin-bottom: 30px;
}
.container-txt h2{
  color: #1d1c1c;
}
.container-checkout{
  display: flex;
}
.left-section {
  flex: 1;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}
.left-section h4{
  font-size: 16px;
  margin-bottom: 10px;
  color: #1d1c1c;
}
.left-section label, input{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-section {
  flex: 1;
  padding-left: 20px;
}
.right-section li{
  list-style: none;
  margin-bottom: 10px;
}

.right-section h2{
  font-size: 16px;
  margin-bottom: 10px;
  color: #1d1c1c;
}
.right-section p{
  font-size: 14px;
  margin-bottom: 10px;
}

.right-section a{
  margin-bottom: 10px;
}

.customer-info {
  margin-bottom: 20px;
}


.payment-method {
  margin-top: 20px;
}


input[type="text"],
input[type="radio"],
button {
  margin-bottom: 10px;
  padding: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: white;
  color: #03a63c;
  border: 1px solid #03a63c;
}

button:hover {
  background-color:#03a63c;
  color: #fff;
  border-radius: 4px;
}
.checkout-ht-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout-ht-container label{
  width: 100%;
}

.cart-details-info h6{
  font-size: 14px;
  margin-top: 10px;
  color: #1d1c1c;
}

input[type="date"] {
  width: 25%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}