<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="Đăng nhập.css">

  <script src="/Angular JS/angular-1.8.2/angular.js"></script>
</head>

<body ng-controller="myCtrl">
  <header>
    <nav>
      <div class="menuHead">
        <div class="logo">
          <a>Bách hóa xanh</a>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="dangnhap">
      <div class="dangnhap-container">
        <div class="dangnhapFrm">
          <h1>Đăng Nhập</h1>
          <form ng-submit="submitForm()">
            <div class="form-group">
              <input type="text" id="username" ng-model="userData.username" name="username" required>
              <label for="username">Tên đăng nhập</label>
            </div>

            <div class="form-group">
              <input type="{{inputType}}" id="password" ng-model="userData.password" name="password" required>
              <label for="password">Mật khẩu</label>
              <img ng-src="{{imgSrc}}" ng-click="togglePassword()" class="form-group-icon">
            </div>

            <a>Quên mật khẩu ?</a>
            <button type="submit">ĐĂNG NHẬP</button>
          </form>
          <div class="dangnhapFrm-dk">
            <p>Bạn chưa có tài khoản ?</p>
            <a>Đăng ký</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="Đăng nhập.js"></script>

</html>